body {
    height: 100vh;
}

.contenedor {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.hero .contenedor {
    display: grid;
    align-content: center;
    height: 100vh;
    z-index: 1;
}

.hero .contenido {
    text-align: center;
}

.contenido {
    max-width: 500px;
    margin: 0 auto;
}

button {
    width: 150px;
    margin: 10px;
    background-color: rgba(168, 104, 45, 0.931);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

#cafe {
    border-radius: 5px;
}

.mensaje {
    background-color: rgba(168, 104, 45, 0.931);
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 320px;
    margin-top: 10px;
    border-radius: 50%;
}

#resultado-cafe {
    font-size: 25px;
}